/*Media QueryL 834px */

html {
    background-color:#020659;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: white;
    width: 375px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

header {
    background: linear-gradient(to right, #2104d9,black);
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    grid-area: header;
}

li:first-of-type {
    font-variant: small-caps;
}


nav {
    grid-area: nav;
}
h1 {
    font-size: 1.25em;
    text-transform: uppercase;
}

/*Top level grid container*/
#topContainer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "nav"
                         "header";
}
h2, h3 {
    font-size: 1em;
    text-transform: uppercase;
    color: #590242;
}

p, dl, dd {
    font-size: 1em;
}

footer p {
    font-size: 0.75em;
}

#playlists {
    background-color: #2699FB;
    color: white;
    padding-bottom: 10px;
    grid-area: yourPlaylists;
}

#curatedPlaylists {
    background-color: #020873;
    color: white;
    padding-bottom: 10px;
    grid-area: curatedPlaylists;
}

section h2 {
    background-color: white;
 
}

#playlists figure {
    background-color: #0d8dfb;
}

#curatedPlaylists figure {
    background-color: #020659;
}

input[type="button"] {
    color: white;
    background-color: #590242;
    padding: 5px 25px;
    margin-left: 25px;
    margin-top: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
}

footer{
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;

}
/*scroll menu setup*/
.scroll {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow: auto;
    overflow-y: hidden;
}

.scroll section {
    margin: 10px;
    position: relative;
}

.scroll div {
    position: absolute;
    top: 250px;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 5px;
    height: 50px;
    width: 350px;
}

/*Customizing Scroll bar*/


/*Media Query*/
@media screen and (min-width: 834px) {
    body {
        width: 834px;
    }

    #playlistContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "yourPlaylists curatedPlaylists";
    } 

    #playlistContainer .scroll {
        position: relative;
        top: 10px;
        display: grid;
        grid-template-columns: 1fr;
        overflow-y: scroll;
    }

}


