html {
    background-color:#020659;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: white;
    width: 375px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

header {
    background: linear-gradient(to right, #2104d9,black);
    color: white;
    padding-left: 25px;
    padding-right: 25px;
}

li:first-of-type {
    font-variant: small-caps;
}
/*Swapping Nav & Header*/
.container {
    display: grid;
}

h1 {
    font-size: 1.25em;
    text-transform: uppercase;
}

h2, h3 {
    font-size: 1em;
    text-transform: uppercase;
    color: #590242;
}

p, dl, dd {
    font-size: 1em;
}

footer p {
    font-size: 0.75em;
}

#playlists {
    background-color: #2699FB;
    color: white;
    padding-bottom: 10px;
}

#curatedPlaylists {
    background-color: #020873;
    color: white;
    padding-bottom: 10px;
    width: 375px;
}

section h2 {
    background-color: white;
 
}

#playlists figure {
    background-color: #0d8dfb;
}

#curatedPlaylists figure {
    background-color: #020659;
}

input[type="button"] {
    color: white;
    background-color: #590242;
    padding: 5px 25px;
    margin-left: 25px;
    margin-top: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
}

footer{
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;

}


