/*Media QueryL 834px */

html {
    background-color:#020659;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: white;
    width: 375px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "nav nav"
                         "header header"
                         "trending trending"
                         "yourplaylists yourplaylists"
                         "curatedplaylists curatedplaylists"
                         "footer footer";
}

header {
    background: linear-gradient(to right, #2104d9,black);
    color: white;
    width: 375px;;
    grid-area: header;
}

header h1, header p {
    padding-left: 15px;
}

li {
    display: inline;
    list-style-type: none;

}

li:first-of-type {
    color: white;
    font-variant: small-caps;
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-bottom: 575px;
    position: absolute;
    z-index: 4;
    font-size: 40px;
    padding-top: 60px;

}


nav {
    height: 80px;
    grid-area: nav;
    background-color: #020873;
}

nav h2 {
    display: none;
}

li {
    padding-right: 5px;
}

h1 {
    font-size: 1.25em;
    text-transform: uppercase;
}

h2, h3 {
    font-size: 1em;
    text-transform: uppercase;
    color: #590242;
}

p, dl, dd {
    font-size: 1em;
}

#trending > * {
    padding-left: 20px;
}

#trending h3 {
    padding-left: 10px;
}

dt {
    padding-top: 10px;
}

dd {
    margin-left: 0;
}

#trending {
    display: grid;
    width: 375px;
    grid-template-rows: auto 1fr;
    grid-template-areas: "trendingTitle"
                         "trendingContent";
}

#trending h2 {
    grid-area: trendingTitle;
}

#trending .scroll {
    grid-area: trendingContent;
    
}

footer {
    grid-area: footer;
    height: 100px;
    padding-top: 50px;
}
footer p {
    font-size: 0.75em;
    margin-top: -25px;
}

#playlist h2 {
    grid-area: playlistTitle;;
}

#playlist .scroll {
    grid-area: playlistContent;
}


#playlists {
    background-color: #2699FB;
    color: white;
    padding-bottom: 10px;
    grid-area: yourplaylists;
    width: 375px;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: "playlistTitle"
                         "playlistContent";
}

#curatedPlaylist h2 {
    grid-area: curatedTitle;
    background-color: white;
}

#curatedPlaylists .scroll {
    grid-area: curatedContent;
}

#curatedPlaylists {
    background-color: #020873;
    color: white;
    padding-bottom: 10px;
    grid-area: curatedplaylists;
    width: 375px;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: "curatedTitle"
                         "curatedContent";

}

h2 {
    background-color: white;
    padding: 15px 10px 20px 10px;
    margin-top: 0.30px;
}

#playlists figure {
    background-color: #0d8dfb;
}

#curatedPlaylists figure {
    background-color: #020659;
}

.Album {
    display: inline-block;
}

.Album img {
    position: relative;
}

.Album div {
    background: white;
}

audio {
    position: relative;
    z-index: 2;
}

input[type="button"] {
    color: white;
    background-color: #590242;
    padding: 5px 25px;
    margin-left: 25px;
    margin-top: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
}

footer{
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;

}
/*scroll menu setup*/
.scroll {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow: auto;
    overflow-y: hidden;
}

.scroll section {
    margin: 10px;
    position: relative;
}

.scroll div {
    position: absolute;
    top: 250px;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 5px;
    height: 50px;
    width: 350px;
}

/*Customizing Scroll bar*/


/*Media Query*/
@media screen and (min-width: 834px) {
    body {
        width: 834px;
    }
  
    #playlistWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        overflow: auto;
        overflow-y: hidden;
    }

    #playlists .scroll{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        overflow: hidden;
        grid-column-start: 1;
    }

    #curatedPlaylists .scroll{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        overflow: hidden;
    }

}


